<div class="container">
  <h1 class="simple-title flex items-center justify-between">All Templates
    <a href="/templates/new" class="btn btn-primary btn-md">New template</a>
  </h1>

  <div id="list-templates" data-templates="<%= @templates.to_json %>"></div>
</div>
