.bg-mist {
    @apply w-[960px] h-[540px] bg-cover;
    background-image: url(../images/mist.png);
}

.frame {
    @apply bg-mist relative px-3 pt-1 flex flex-col mx-auto;
}

.content {
    @apply bg-white bg-opacity-65 backdrop-blur h-full mb-3 mt-1 rounded-xl text-gray-600 relative overflow-y-auto;
}

.header {
    @apply flex justify-between px-2 items-center;

    .indicator {
        @apply font-serif text-base;
    }

    .logo {
        @apply inline-block h-4;
    }
}

.article {
    @apply font-serif text-lg pt-10 w-4/5 mx-auto;

    h1 {
        @apply text-4xl font-bold my-4;
    }

    h2 {
        @apply text-3xl font-semibold my-2;
    }

    h3 {
        @apply text-2xl font-semibold my-2;
    }

    strong {
        @apply font-semibold;
    }

    ul, ol {
        @apply pl-5;

    }

    ul > li {
        @apply list-disc;
    }

    ol > li {
        @apply list-decimal;
    }

    p > code {
        @apply text-base text-cyan-500;
    }

    table {
        @apply font-sans text-base;
        tr td, tr th{
            @apply p-2;
        }
        tr th {
            @apply text-left font-semibold ;
        }
        tbody tr:nth-child(odd) {
            @apply bg-gray-100;
        }
    }

    table code {
        @apply text-cyan-500 text-base;
    }

    pre {
        @apply border text-cyan-500 text-sm  my-2 leading-tight relative;
        code {
            @apply rounded-lg border-2 border-blue-200;
        }
        .code-language-label {
            @apply absolute top-0 right-0 bg-blue-300 text-white px-2 py-1 rounded-tr-lg rounded-bl-lg;
        }
    }

    a {
        @apply underline text-blue-400 relative pr-5;
        &:after {
            content: "";
            @apply absolute top-2 right-1 w-3 h-3;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg fill='%2360a5fa'%3E%3Cpath d='M1.293,10.707a1,1,0,0,0,1.414,0L7.854,5.561l2.292,2.293A.5.5,0,0,0,10.5,8a.489.489,0,0,0,.191-.038A.5.5,0,0,0,11,7.5v-6a.5.5,0,0,0-.5-.5h-6a.5.5,0,0,0-.354.854L6.439,4.146,1.293,9.293A1,1,0,0,0,1.293,10.707Z' fill='%2360a5fa'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        }
    }

}
